#control-panel.control-panel
  div.control-panel-title
    span Panel
  div.panel-back.hide
      span.back
        i.iconfont.icon-fanhui
        span 返回
  div.control-panel-content
    div.panel-buttons
      span(data-class='font-setting') A 字体修改
      span(data-class='background-setting') B 背景修改
      span(data-class='background-setting') B 背景修改
      span(data-class='background-setting') B 背景修改
    div.panel-hides
      div.settings.font-setting.hide
        ul.font-list
          li.syht(data-font='思源黑体 Regular') 思源黑体
          li.ceyyt(data-font='仓耳渔阳体 W04') 仓耳渔阳体
          li.ceyyt(data-font='仓耳渔阳体 W04') 仓耳渔阳体
          li.ceyyt(data-font='仓耳渔阳体 W04') 仓耳渔阳体
      div.settings.background-setting.hide
        ul.background-list
          li.ceyyt(data-font='background W04') background
          li.ceyyt(data-font='background W04') background
          li.ceyyt(data-font='background W04') background

  div.control-panel-footer



//- #global-modal
//-   button.btn.btn-primary(type='button',data-bs-toggle="modal",data-bs-target="#settingModal") settingModal
//-   div#settingModal.modal.fade(tabindex="-1",aria-labelledby="settingModal",aria-hidden="true")
//-     div.modal-dialog
//-       div.modal-content
//-         div.modal-header
//-           h1.modal-title.fs-5 Modal title
//-           button.btn-close(type='button', data-bs-dismiss="modal",aria-label="Close")
//-         div.modal-body bbb
//-         div.modal-footer
//-           button.btn.btn-secondary(type='button', data-bs-dismiss="modal")
//-           button.btn.btn-primary
